@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Heebo", "sans-serif";
  transition: all 0.5s ease;
  scroll-behavior: smooth;
}

hr {
  box-shadow: none;
  outline: none;
  border: 1.5px solid #5658dd;
  border-radius: 10px;
}

.outermost-index-div.light hr {
  border: 1px solid #565ded;
}

body {
  overflow: overlay;
}

.outermost-index-div {
  background: #151719;
  color: #9ca9b3;
}

.outermost-index-div.light {
  background: #eceded;
}

.outermost-index-div.light p {
  font-weight: 400;
}

.outermost-index-div.light a {
  color: #2a2d32;
}
.outermost-index-div.light img {
  opacity: 1;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
  transition: all 0.5s ease;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #2a2d32;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5658dd;
  opacity: 0.8;
}

::-webkit-scrollbar-button {
  display: none;
}

.page-content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: #9ca9b3;
}

img {
  pointer-events: none;
}

.outermost-div {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-outer {
  width: 80%;
  height: 100%;
  padding: 47.5px 0;
}

.smart-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 66px;
  z-index: 109;
  width: calc(80% + 50px);
  margin: 0 auto;
  border-radius: 2px;
}

.scrolled-down {
  -webkit-transform: translateY(-110%);
  transform: translateY(-110%);
  background: transparent;
  margin-top: 0;
}

.scrolled-up {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  background: rgba(37, 40, 44, 0.95);
  margin-top: 15px;
}

.scrolled-down-permanent {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  background: rgba(9, 9, 9, 0.95);
  margin-top: 0;
  width: 100% !important;
}

.outermost-index-div.light .scrolled-up {
  background: rgb(183, 184, 255, 0.95);
}

.outermost-index-div.light .scrolled-down-permanent {
  background: rgba(236, 237, 237, 0.95);
}

@media screen and (max-width: 1100px) {
  .projects-outer {
    width: 90%;
  }
  .smart-scroll {
    width: calc(90% + 30px);
  }
}

@media screen and (max-width: 500px) {
  .scrolled-up {
    margin-top: 5px;
  }
  .scrolled-down-permanent,
  .scrolled-down {
    margin-top: 0;
  }
}
