.outer {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 85px 10%;
}

.description :nth-child(1) {
  opacity: 0;
  animation: appear 1s ease-in forwards 3.5s;
}
.description :nth-child(2) {
  opacity: 0;
  animation: appear 1s ease-in forwards 3.8s;
}
.description :nth-child(3) {
  opacity: 0;
  animation: appear 1s ease-in forwards 3.8s;
}
.description :nth-child(4) {
  opacity: 0;
  animation: appear 1s ease-in forwards 4s;
}
.description :nth-child(5) {
  opacity: 0;
  animation: appear 1s ease-in forwards 4.3s;
}

.description h1 {
  font-size: 4rem;
  z-index: 1;
  line-height: 4.1rem;
}

.description p {
  width: 80%;
  margin: 20px 0;
  z-index: 1;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  /* background: #190061; */
  background: linear-gradient(to right,#000, #0c0032, #190061, #272471);
  width: 0;
  height: 100%;
  z-index: 0;
  opacity: 0.8;
  animation: slide-in 1s ease-out forwards 4.3s;
}

.outer.light .background {
  background: linear-gradient(to left, #C6B2CB,#C6B2CB, #fff);
}

.buttondiv {
  margin-top: 15px;
  position: relative;
  z-index: 1;
}

.buttondiv button {
  padding: 5px 15px 5px 50px;
  border-radius: 25px;
  outline: none;
  border: 2px solid #3500d3;
  background: transparent;
  height: 40px;
  color: white;
  opacity: 0.8;
  font-size: 0.8rem;
  letter-spacing: 1px;
  z-index: 1;
}

.outer.light .buttondiv button {
  color: black;
  border: 2px solid black;
}

.outer.light .buttondiv button svg {
  fill: #3500d3;
}

.myName.light {
  color: #3500d3;
}

.buttondiv button svg {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  -webkit-transform: translateY(-50%) rotate(90deg);
  transition: all 1s ease !important;
}

.buttondiv button:hover > svg {
  transform: translateY(-50%) rotate(450deg);
  -ms-transform: translateY(-50%) rotate(450deg);
  -webkit-transform: translateY(-50%) rotate(450deg);
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  100% {
    width: 75%;
    right: 0;
  }
}

@media screen and (max-width: 1100px) {
  .description h1 {
    font-size: 3.3rem;
    line-height: 3.4rem;
  }
  .description {
    padding: 85px 5%;
  }
}

@media screen and (max-width: 500px) {
  .description h1 {
    font-size: 2.5rem;
    line-height: 2.6rem;
  }
  .description {
    padding: 85px 5%;
  }
  .description p {
    font-size: 0.9rem;
  }
  .buttondiv {
    margin-top: 8px;
  }
  .buttondiv button {
    font-size: 0.7rem;
  }
}
