.outer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.featuredProjects {
  width: 100%;
  min-height: 650px;
  z-index: 2;
  margin: 47.5px 0;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subheading {
  margin-bottom: 30px;
  margin-right: 10%;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1rem;
  color: #5658dd;
  font-weight: 600;
}

.subheading hr {
  display: inline-block;
  width: 70px;
  margin-left: 20px;
  height: 0;
  background: #5658dd;
}

.outer.light .subheading p {
  font-weight: 600;
}

.project1 {
  width: 80%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.imageHolder {
  border-radius: 2px;
  width: 100%;
  max-width: 528px;
  height: 396px;
  overflow: hidden;
  background: #25282c;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-right: 15px;
}

.outer.light .imageHolder {
  background: #b7b8ff;
}

.imageHolder img {
  width: 100%;
  height: auto;
  border-radius: 2px;
  filter: grayscale(1);
}

.imageHolder:hover img {
  filter: grayscale(0);
}

.content {
  width: 100%;
  max-width: 488px;
  font-size: 20px;
  line-height: 30px;
  color: #9ca9b3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.outer.light .content {
  color: #25282c;
}

.content h1 {
  font-size: 32px;
  line-height: 42px;
  color: #eceded;
}

.outer.light .content h1 {
  color: #25282c;
}

.content svg {
  fill: #6163ff;
  margin-left: 20px;
}

.content svg:hover {
  transform: translateY(-5px);
}

.outer.light .content svg {
  fill: #5658dd;
}

.projectButton {
  margin-left: auto;
  margin-right: calc(10% - 50px);
  margin-bottom: -110px;
  margin-top: -60px;
  font-weight: bold;
  background: transparent;
  color: #2a2d32;
  font-size: 10rem;
  outline: none;
  border: none;
  cursor: pointer;
  z-index: -1;
}

.outer.light .projectButton {
  color: #b7b8ff;
}

.buttondiv {
  margin: 15px auto;
  width: 80%;
}

.buttondiv button {
  padding: 11px 31px;
  border-radius: 2px;
  outline: none;
  box-shadow: none;
  background: #6163ff;
  line-height: 24px;
  color: #eceded;
  font-size: 16px;
  margin: 8px 0;
  z-index: 1;
  cursor: pointer;
  border: none;
  text-align: center;
  width: 100%;
}

.buttondiv button:hover {
  background: #6b6dff;
}

.anim {
  opacity: 0;
  transform: scale(0.1);
}

.otherProjects {
  margin-top: 40px;
  width: 100%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #9ca9b3;
}

.outer.light .otherProjects {
  color: #5658dd;
}

.otherProjects h2 {
  font-size: 1.7rem;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  color: #eceded;
}

.outer.light .otherProjects h2 {
  color: #25282c;
}

.otherProjectsInner {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0;
}

.smallProject {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 200px;
  margin: 10px;
  padding: 20px 15px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #9ca9b3;
  background-color: #25282c;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23151719' fill-opacity='1'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.light .smallProject {
  box-shadow: 0 14px 28px rgba(119, 83, 83, 0.25),
    0 7px 10px rgba(163, 163, 163, 0.22);
  color: #5658dd;
  background-color: #b7b8ff;
background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23eceded' fill-opacity='1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.light .smallProject svg {
  fill: #25282c;
}

.smallProject:hover {
  transform: translateY(-5px);
}

.smallProject h2 {
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin: 0;
  font-weight: 400;
}

.smallProject p {
  margin-top: 10px;
}

.smallProjectLinks svg {
  fill: #eceded;
  margin-right: 15px;
}

.iButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background: #151719;
  border: 2px solid #5658dd;
  color: #eceded;
  clip-path: circle(60px at 100% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
}

.light .iButton {
  background: #eceded;
  opacity: 1;
  color: #25282c;
}

.iButton p {
  opacity: 0;
}

.iButton:hover {
  clip-path: circle(100%);
  opacity: 1;
}

.iButton:hover > p {
  opacity: 1;
}

.showMoreButton {
  padding: 11px 31px;
  border-radius: 2px;
  outline: none;
  box-shadow: none;
  background: #6163ff;
  line-height: 24px;
  color: #eceded;
  font-size: 16px;
  margin: 8px 0;
  z-index: 1;
  cursor: pointer;
  border: none;
  text-align: center;
}

.showMoreButton:hover {
  background: #6b6dff;
}

@media screen and (max-width: 1100px) {
  .project1 {
    width: 90%;
  }
  .subheading {
    margin-right: 5%;
  }
  .buttondiv {
    width: 90%;
  }
  .projectButton {
    margin-right: calc(5% - 50px);
  }
  .otherProjects {
    padding: 0 5%;
  }
}

@media screen and (max-width: 850px) {
  .project1 {
    width: 100%;
  }
  .imageHolder {
    margin-left: -100px;
  }
  .content {
    margin-right: 20px;
  }
}

@media screen and (max-width: 500px) {
  .subheading {
    font-size: 0.9rem;
  }
  .content {
    font-size: 0.9rem;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .content h1 {
    font-size: 2rem;
  }
  .buttondiv button {
    font-size: 0.9rem;
  }
  .featuredProjects p {
    font-size: 0.9rem;
  }
  .projectButton {
    margin-right: calc(5% - 40px);
  }
  .project1 {
    flex-wrap: wrap-reverse;
    width: 90%;
  }
  .imageHolder {
    margin: 0;
    height: 350px;
  }
  .smallProject {
    max-width: 100%;
    margin: 10px 0;
  }
  .showMoreButton {
    width: 100%;
  }
}
