.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    justify-content: space-between;
    color: #9ca9b3;
    font-size: 16px;
    opacity: 0;
    animation: appear 1s ease-in-out forwards 0.5s;
    z-index: 50;
    font-weight: 400;
}

.resumeButton {
    padding: 5px 23px;
    background: #6163ff;
    color: #eceded;
    font-size: 16px;
    line-height: 24px;
    border-radius: 2px;
}

.resumeButton:hover {
    background: #6b6dff;
}

.navbar.light .resumeButton {
    color: #eceded;
}

.link:hover {
    color: #eceded;
}

.navbar.light .link:hover {
    color: #5658dd;
}

.navbar.light {
    color: #25282c;
}

.logo svg {
    fill: #eceded;
    transition: none;
}

.logo.light svg {
    fill: #25282c;
}

.hamburger {
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0;
    pointer-events: none;
}

.links {
    display: flex;
    flex-direction: space-around;
    align-items: center;
    transition: none;
}

.links > div {
    margin-left: 35px;
    cursor: pointer;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 850px) {
    .hamburger{
        position: fixed;
        right: 25px;
        top: 20px;
        z-index: 1000;
        opacity: 1;
        pointer-events: all;
    }
    .hamburger button {
        outline: none;
        border: none;
        background: transparent;
        color: #eceded;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }
    .hamburger div {
        height: 3px;
        margin-bottom: 5px;
        background: #eceded;
        border-radius: 5px;
        box-shadow: 0 0 3px #151719;
    }

    .navbar.light .hamburger div {
        background: #25282c;
        box-shadow: none;
    }

    .hamburger.open {
        position: fixed;
        right: 25px;
        top: 20px;
    }

    .hamburger button :nth-child(1) {
        width: 40px;
    }
    .hamburger button :nth-child(2) {
        width: 32px;
    }
    .hamburger button :nth-child(3) {
        width: 24px;
    }
    .hamburger.open button :nth-child(1) {
        transform: rotate(45deg) translate(36%);
        width: 32px;
    }
    .hamburger.open button :nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
    }
    .hamburger.open button :nth-child(3) {
        transform: rotate(-45deg) translate(36%);
        width: 32px;
    }
    .links {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background: #151719;
        opacity: 0;
        pointer-events: none;
        clip-path: circle(30px at 100% 0);
        letter-spacing: 2px;
    }

    .navbar.light .links {
        background: #eceded;
    }
    .links.open {
        position: fixed;
        pointer-events: all;
        clip-path: circle(800px at 50% 50%);
        opacity: 0.95;
    }
    .links > div {
        padding: 5px 15px;
        margin-left: 0;
    }
    .links :nth-child(5) {
        margin-top: 10px;
    }
}

@media screen and (max-width: 500px) {
    .navbar {
        padding: 15px;
    }
}