.footerOuter {
    padding: 50px 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin: 47.5px 0 0 0;
    background: #090909;
}

.footerOuter h1 {
    font-size: 1.8rem;
    font-weight: 600;
}

.footerOuter img {
    width: 150px;
    margin-top: 10px;
}

@media screen and (max-width: 1100px) {
    .footerOuter {
        padding: 50px 5%;
    }
}

@media screen and (max-width: 850px) {
    .footerOuter {
        padding: 30px 5%;
    }
}